<% include ./partials/header %>
<div class="ui container" style="margin: 70px">
<!-- <%= blogs %> -->

<% blogs.forEach(function(blog){ %>
    <div>
        <h2><%= blog.title %></h2>
        <img src="<%= blog.image %>"> 
        <span><%= blog.created %></span>
        <p><%= blog.body %></p>
   </div>
<% }) %>
</div>
<% include ./partials/footer %>
